@model CinemaTickets.Web.ViewModels.MoviesViewModel
@{
    ViewBag.Title = "Movies";
}

@if (Model.Movies.Count == 0)
{
    <h3>There are no movies in the database!</h3>
    return;
}

<table class="table table-bordered" style="margin-top:20px;">
    <thead>
        <tr>
            <th>Movie Title</th>
            <th>Rating</th>
            <th>Language</th>
            <th>Minutes</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Movies)
        {
            <tr>
                <td><a href="@Url.Action("MovieDetails","Movie", new { id = @item.MovieID })">@item.Title</a></td>
                <td>@item.Rating</td>
                <td>@item.Language</td>
                <td>@item.Minutes</td>
            </tr>
        }

    </tbody>
</table>