
@{
    ViewBag.Title = ViewBag.MovieTitle;
}

<h2>@ViewBag.MovieTitle</h2>
<hr />

<p>Genre: @Model.Genre</p>
<p>Minutes: @Model.Minutes</p>
<p>Language: @Model.Language</p>
<p>Description: @Model.Description</p>

<img src="@Url.Action("RenderImage","Image", new { id = Model.ImageID})" width="500" height="500"/>