@model CinemaTickets.Web.ViewModels.SeatViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Seat selection</h2>
<hr />
<p>* <i>Green: free seats<br />* Red: occupied seats</i></p><hr />
<div id="screen"><b>Screen</b></div>
<div id="seatsTable"></div>
<button id="finishPurchase" class="btn btn-primary btn-lg" style="float:right;margin-top:-10px;">Finish purchase</button>

<div>Total price - @Model.TotalPrice$</div>
<span id="ticketsLeft" style="font-weight:bold;"></span>

@section Scripts{
    <script>
        //table of seats is generated via c# string which is then passed to javascript to be rendered on screen
        @{
            var html = "<table class=\"table table-bordered\"><tr>";
            var counter = 1;
        }
        @foreach (var item in Model.SeatDtos)
        {
            var color = "green";
            if (item.IsTaken)
            {
                color = "red";
            }
            
            //11 is the magic number to point that there cannnot be more than 10 columns in a row. Think of how this could be dynamic
            if(counter == 11)
            {
                html += @"</tr><tr>";
                counter = 1;
            }
            html += $"<td seatID=\"{item.SeatID}\" style=\"text-align:center;background-color:{color};cursor:pointer;\"" + $">{item.Row},{item.Column}</td>";
            counter++;
        }
        @{
            html += @"</tr></table>";
            var htmlToPass = Html.Raw(html);
        }
        var tableAsString = `@htmlToPass`;
        $('#seatsTable').append($(tableAsString));

        var seats = [];
        var maxSeatCount = @Model.Adults + @Model.KidsRetirees + @Model.Students;

        //on dom ready
        $(document).ready(function(){
            $('#ticketsLeft').append(maxSeatCount + " tickets left to choose.");
        });

        //seat click selection
        $('table td').click(function () {
            var colorOfSeat = this.style.backgroundColor;
            var tdSeatID = $(this).attr('seatID');
            if (colorOfSeat === 'red') {
                return;
            }

            if(maxSeatCount === 0){
                seats = [];
                $('table tr').each(function() {
                    $.each(this.cells, function(){
                        if(this.style.backgroundColor == 'yellow'){
                            this.style.backgroundColor = 'green';
                        }
                    });
                });
                maxSeatCount = @Model.Adults + @Model.KidsRetirees + @Model.Students;
                $('#ticketsLeft').empty();
                $('#ticketsLeft').append(maxSeatCount + " tickets left to choose.");
                return;
            }

            var index = seats.indexOf(tdSeatID);
            if (index > -1) {
                this.style.backgroundColor = 'green';
                seats.splice(index, 1);
                maxSeatCount++;
            }
            else {
                this.style.backgroundColor = 'yellow';
                seats.push(tdSeatID);
                maxSeatCount--;
            }
            $('#ticketsLeft').empty();
            $('#ticketsLeft').append(maxSeatCount + " tickets left to choose.");
        })

        //confirm seats
        $('#finishPurchase').click(function (e) {
            e.preventDefault();

            swal({
                title: "Are you sure?",
                text: "You will proceed with the selected seats!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#77c5d5",
                confirmButtonText: "Yes, proceed!",
                closeOnConfirm: false
            },
            function(){
                if(maxSeatCount != 0){
                    swal("Opsss...", "You still have " + maxSeatCount + " tickets to select.", "error");
                    return;
                }
                var stringSeats = seats.join(',');

                var fd = new FormData();
                fd.append("seats", stringSeats);
                fd.append("kidsRetirees",@Model.KidsRetirees);
                fd.append("students",@Model.Students);
                fd.append("adults",@Model.Adults);
                fd.append("projectionID",@Model.ProjectionID);

                $.ajax({
                    url: "@Url.Action("BuyTickets", "Seat")",
                    type: 'POST',
                    processData: false,
                    contentType: false,
                    data: fd,
                    success: successCallback,
                    error: errorCallback
                })
            });
        });

        function successCallback(){
            window.location.href = "/Ticket/VisualizeTickets";
        }
        function errorCallback(){
            swal("Opsss...", "Something went wrong! :(", "error");
        }
    </script>
}