@model CinemaTickets.Web.ViewModels.HallsMoviesViewModel
@{
    ViewBag.Title = "CreateProjection";
}

<div>
    <h2>Create projection</h2>
    <button class="btn-lg btn-primary" onclick="window.location='@Request.UrlReferrer.AbsoluteUri'" style="float:right;margin-top:-50px;">Back</button>
</div>
<hr />
<form>
    <div class="form-group">
        <label for="hallSelect">Select a hall number</label>
        <select class="form-control" id="hallSelect">
            <option selected>Please select a hall...</option>
            @foreach (var hall in Model.Halls)
            {
                <option hallID="@hall.HallID">@hall.HallNumber</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label for="movieSelect">Select a movie</label>
        <select class="form-control" id="movieSelect">
            <option selected>Please select a movie...</option>
            @foreach (var movie in Model.Movies)
            {
                <option movieID="@movie.MovieID">@movie.Title</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label for="dateSelect">Choose a date</label>
        <input class="form-control" type="date" name="movieDay" id="movieDate">
    </div>

    <div class="form-group">
        <label for="hours">Hours</label>
        <input type="number" class="form-control" id="hours" placeholder="Hours">
    </div>

    <div class="form-group">
        <label for="minutes">Minutes</label>
        <input type="number" class="form-control" id="minutes" placeholder="Minutes">
    </div>

    <button id="addProjectionButton" class="btn btn-primary">Submit</button>
</form>

@section Scripts {
    <script>
        var hallID = 0;
        var movieID = 0;
        $('#hallSelect').change(function () {
            hallID = $(this).find(':selected').attr('hallID');
        });
        $('#movieSelect').change(function () {
            movieID = $(this).find(':selected').attr('movieID');
        });

        $('#addProjectionButton').click(function (e) {
            e.preventDefault();
            debugger;
            var dateOfProjection = $('#movieDate').val();
            var splittedTime = dateOfProjection.split('-');
            var year = splittedTime[0];
            var month = splittedTime[1];
            var day = splittedTime[2];
            var hours = $('#hours').val();
            var minutes = $('#minutes').val();


            var fd = new FormData();
            fd.append("hallID", hallID);
            fd.append("movieID", movieID);
            fd.append("year", year);
            fd.append("month", month);
            fd.append("day", day);
            fd.append("hours", hours);
            fd.append("minutes", minutes);

            $.ajax({
                url: "@Url.Action("CreateProjection", "Projection")",
                type: 'POST',
                processData: false,
                contentType: false,
                data: fd,
                success: successCallback,
                error: errorCallback
            })

            function successCallback(){
                alert("success");
                $('#hallSelect').val('');
                $('#movieSelect').val('');
                $('#hours').val('');
                $('#minutes').val('');
                $('#movieDate').val('');
            }
            function errorCallback(callback){
                alert("Error: " + callback.statusText);
            }
        })
    </script>
}