
@{
    ViewBag.Title = "Purchase tickets";
}

<h2>Choose projection for: @ViewBag.MovieTitle</h2>
<hr />

@if (Model.Count == 0)
{
    <h3>There are no projections for this movie available.</h3>
}

<form>
    <div class="form-group">
        <label for="projectionSelect">Select a projection</label>
        <select class="form-control" id="projectionSelect">
            <option selected>Select a projection...</option>
            @foreach (var projection in Model)
            {
                <option projectionID="@projection.ProjectionID">@projection.TimeOfProjection</option>
            }
        </select>
    </div>
    <p><i>Select ticket type below:</i></p>
    <div style="border:1px solid black;border-radius:10px;width:25%;margin-bottom:10px;">
        <div class="form-group">
            <label for="kidsRetirees" style="padding-left:10px;">For kids/retirees: 6.50</label>
            <select class="form-control" id="kidsRetirees">
                <option selected>Select ticket count...</option>
                @for (int i = 1; i <= 10; i++)
                {
                    <option>@i</option>
                }
            </select>
        </div>

        <div class="form-group">
            <label for="students" style="padding-left:10px;">For students: 7.50</label>
            <select class="form-control" id="students">
                <option selected>Select ticket count...</option>
                @for (int i = 1; i <= 10; i++)
                {
                    <option>@i</option>
                }
            </select>
        </div>

        <div class="form-group">
            <label for="adults" style="padding-left:10px;">For adults: 10</label>
            <select class="form-control" id="adults">
                <option selected>Select ticket count...</option>
                @for (int i = 1; i <= 10; i++)
                {
                    <option>@i</option>
                }
            </select>
        </div>
        <button class="btn btn-primary" id="chooseTicketTypes" style="margin-bottom:10px;">Confirm tickets</button>
    </div>
    <div class="form-group">
        <label for="totalPrice">Total price</label>
        <input class="form-control" type="text" name="totalPriceBox" id="totalPriceBox" disabled value="0"/>
    </div>
    <button id="selectSeatsButton" class="btn btn-primary">Continue to seats selection...</button>
</form>


@section Scripts{
    <script>
        var kidsRetireesPrice = 6.50;
        var studentsPrice = 7.50;
        var adultsPrice = 10;
        var projectionID = 0;
        var kidsRetirees = 0;
        var students = 0;
        var adults = 0;

        $('#projectionSelect').change(function () {
            projectionID = $(this).find(':selected').attr('projectionID');
        });

        $('#kidsRetirees').change(function () {
            kidsRetirees = Number($(this).find(':selected').val());
        });

        $('#students').change(function () {
            students = Number($(this).find(':selected').val());
        });

        $('#adults').change(function () {
            adults = Number($(this).find(':selected').val());
        });

        $('#chooseTicketTypes').click(function (e) {
            e.preventDefault();
            var kidsRetireesTotalPrice = kidsRetireesPrice * kidsRetirees;
            var studentsTotalPrice = studentsPrice * students;
            var adultsTotalPrice = adultsPrice * adults;
            var totalTicketsPrice = Number(kidsRetireesTotalPrice + studentsTotalPrice + adultsTotalPrice).toFixed(2);
            $('#totalPriceBox').val(totalTicketsPrice + "$");
        });

        $('#selectSeatsButton').click(function (e) {
            e.preventDefault();
            var totalPriceOfTickets = $('#totalPriceBox').val().slice(0,-1);
            var fd = new FormData();
            fd.append("kidsRetirees", kidsRetirees);
            fd.append("students", students);
            fd.append("adults", adults);
            fd.append("projectionID", projectionID);
            fd.append("totalPrice", totalPriceOfTickets);

            $.ajax({
                url: "@Url.Action("Index","Seat")",
                type: 'POST',
                processData: false,
                contentType: false,
                data: fd,
                success: successCallback,
                error: errorCallback
            })
        })

        function successCallback() {
            alert("success");
        }
        function errorCallback() {
            alert("error");
        }
    </script>
}