
@{
    ViewBag.Title = "Hall manager";
}
<div>
    <h2>Create Hall</h2>
    <button class="btn-lg btn-primary" onclick="window.location='@Request.UrlReferrer.AbsoluteUri'" style="float:right;margin-top:-50px;">Back</button>
</div>
<hr />
<p>If, by any chance, a new hall was built in the cinema, here is the place to log it into the database.</p>
<form>
    <div class="form-group">
        <label for="hallNumber">Hall number</label>
        <input type="number" class="form-control" id="hallNumberToAdd" placeholder="Hall number">
    </div>
    <button id="addHallButton" class="btn btn-primary">Submit</button>
</form>
<hr />

<h2>Delete Hall</h2>
<hr />
<p>If, by any chance, a hall was removed from the cinema, here is the place to delete it from the database.</p>
<form>
    <div class="form-group">
        <label for="hallToDelete">Delete hall:</label>
        <select class="form-control" id="hallToDelete">
            <option selected>Select a hall you wish to delete...</option>
            @foreach (var hall in Model)
            {
                <option hallID="@hall.HallID">@hall.HallNumber</option>
            }
        </select>
    </div>
    <button id="removeHallButton" class="btn btn-primary">Submit</button>
</form>

@section Scripts{
    <script>
        $('#addHallButton').click(function (e) {
            e.preventDefault();

            swal({
                title: "Are you sure?",
                text: "You will add the hall number with the inserted data!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#77c5d5",
                confirmButtonText: "Yes, add it!",
                closeOnConfirm: false
            },
            function () {
                var hallNumber = Number($('#hallNumberToAdd').val());
                console.log(hallNumber)
                if (hallNumber < 1) {
                    sweetAlert("Oops...", "Hall number cannot be different than a number or less than 1", "error");
                    return;
                }

                $.ajax({
                    url: "@Url.Action("CreateHall", "Hall")",
                    type: 'POST',
                    data: {
                        'hallNumber': hallNumber
                    },
                    success: successCallback,
                    error: errorCallback
                })
            });


        })

        var hallToDeleteID = 0;

        $('#hallToDelete').change(function () {
            hallToDeleteID = $(this).find(':selected').attr('hallID');
        });

        $('#removeHallButton').click(function (e) {
            e.preventDefault();

            swal({
                title: "Are you sure?",
                text: "You will delete the selected hall number from database!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: false
            },
            function () {
                $.ajax({
                    url: "@Url.Action("DeleteHall", "Hall")",
                    type: 'POST',
                    data: {
                        'hallID': hallToDeleteID
                    },
                    success: successCallback,
                    error: errorCallback
                })
            });
        });

        function successCallback(callback) {
            swal("Success!", "Your operation was successful", "success");
            $('#hallNumberToAdd').val('');
            $('#hallToDelete').val('');
        }
        function errorCallback(callback) {
            swal("Opsss...", callback.statusText, "error");
        }
    </script>
}
