
@{
    ViewBag.Title = "VisualizeTickets";
}

<h2>Tickets</h2>
<hr />

<div id="tickets">
    @foreach (var item in Model)
    {
        <div id="ticket" style="border:1px solid black;margin-bottom:10px;padding:15px;">
            <h4>Cinema world</h4>
            <p id="movieTitle"><b>Movie title</b> - @Session["movieTitle"]</p>
            <p id="ticketPrice"><b>Ticket price</b> - @item.Price</p>
            <p id="date"><b>Date</b> - @Session["ticketDate"]</p>
            <p id="time"><b>Hour</b> - @Session["ticketHour"]</p>
            <p id="hallNumber"><b>Hall number</b> - @Session["hallNumber"]</p>
            <p id="seat">seat - row and column</p>
            <p><b>Ticket ID</b> - @item.TicketID</p>
        </div>
    }
</div>
